* {padding:0;
  margin:0;
  box-sizing: border-box;
}

img{
  width: 100%;
  height: auto;
}

/*slider*/
 
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
 
}

.galleries {
  margin-top: 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 32%;
  margin-bottom: 4%; /* (100-32*3)/2 */
  margin-right: 50px;
  
}

.logo {
  width: 100px
}

